@import "tailwindcss";

@import 'tailwindcss/theme' layer(theme);

@import 'tailwindcss/preflight' layer(base);

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}
